<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tent.assist.idleclicker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="true">
        <activity android:name=".MainMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="https://github.com/AssisTENTUtopist"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:label="@string/sense_of_bar_name"
            android:name=".senseOfBar.MainActivity">
        </activity>
        <activity
            android:label="@string/sense_of_bar_name"
            android:name=".senseOfBar.Clicker">
        </activity>
        <activity
            android:label="@string/sense_of_bar_name"
            android:name=".senseOfBar.Resulter">
        </activity>
        <activity
            android:label="@string/speed_reaction_name"
            android:name=".speedReaction.MainActivity">
        </activity>
        <activity
            android:label="@string/speed_reaction_name"
            android:name=".speedReaction.Clicker">
        </activity>
        <activity
            android:label="@string/speed_reaction_name"
            android:name=".speedReaction.Resulter">
        </activity>
        <activity
            android:label="@string/whack_a_mole_name"
            android:name=".whackAMole.MainActivity">
        </activity>
        <activity
            android:label="@string/whack_a_mole_name"
            android:name=".whackAMole.Clicker">
        </activity>
        <activity
            android:label="@string/whack_a_mole_name"
            android:name=".whackAMole.Resulter">
        </activity>
    </application>

</manifest>